body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #FFFFFF;
    overflow: hidden;
}

#header {
    background-color: white;
    top: 0;
    position: fixed;
    display: flex;
    justify-content: space-between;
    padding: 0px 20px;
    align-items: center;
    width: 100%;
    box-sizing: border-box;


}

#header h1 {
    font-size: 40px;
    background: -webkit-linear-gradient(#cf1ca2, #dfdb19);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

#header button {
    background-color: transparent;
    border: none;
    color: rgb(122, 122, 122);
    font-size: 30px;

}

#storyBody {
    background-color: white;
    position: fixed;
    top: 85px;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 5px 20px;
    border-bottom: 1px solid rgba(197, 197, 197, 0.788);
    border-top: 1px solid rgba(197, 197, 197, 0.788);
    color: rgb(97, 97, 97);

}

#stories {
    display: flex;
    gap: 20px;
    overflow-x: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

#stories::-webkit-scrollbar {
    display: none;

}

#addStories {
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 12px;
    text-align: center;
}

#storyImage {
    border: 1px solid rgb(71, 71, 71);
    width: 60px;
    height: 60px;
    background-color: white;
    border-radius: 50%;
    cursor: pointer;
    margin: 0px 5px;

}


#storyImage:hover:before {
    content: "+";

    width: 60px;
    height: 60px;
    background-color: white;
    border-radius: 50%;
    position: absolute;

    text-align: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
    margin: auto;
    display: flex;
    font-size: 40px;
    color: rgba(0, 0, 255, 0.322);
}


#userPost{
    position: absolute;
    width: 100%;
    height: calc(100% - 260px);
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
    top: 196px;
    z-index: -1;
    gap: 5px;
    overflow: auto;
      scrollbar-width: none;
    -ms-overflow-style: none;
}
#userPost::-webkit-scrollbar{
    display: none;
}



#postcontent{
    background-color: rgba(255, 255, 255, 0.445);
    width: 100%;
    height: fit-content;
    margin-bottom: 5px;
    box-shadow: 0px 0px 4px black;
}


#userProfilePost{
   display: flex;
   background-color: rgb(255, 255, 255);
   justify-content: space-between;
   align-items: center;
   padding: 10px;
}

#userProfilePost div{
  display: flex;
  align-items: center;
  gap: 5px;
  color: black;
  font-weight: 500;
  font-family: 'Roboto', sans-serif;
}

#userProfilePost img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid rgb(78, 78, 78);
}

#userProfilePost button{
  background-color: transparent;
  border: none;
  font-size: 12px;
  color: rgb(102, 102, 102);
}




#userPostContent{
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}
#userPostContent img{
    width: 100%;
    height: 100%;
}
#userPostContent label{
   margin-left: 10px;
   font-size: 14px;
}

#likecommentshare{
    padding: 10px;
    
    display: flex;
    gap: 10px;
    justify-content: left;
}

#likecommentshare button{
   background-color: transparent;
   border: none;
   font-size: 18px;
   color: rgb(112, 112, 112);
}

#likecommentshare button:hover{
 
   color: rgb(180, 180, 180);
}

#valueoflikecommentshare{
    display: flex;
    gap: 14px;
    font-size: 12px;
    color: rgb(109, 109, 109);
    padding: 0 0 5px 5px;
    
}





























#footerNav {
    background-color: white;
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 15px 25px 20px 25px;
    display: flex;
    justify-content: center;
    width: 100%;
    box-sizing: border-box;
    border-top: 1px solid rgba(197, 197, 197, 0.788);
    gap: 35px;
}

#footerNav button {
    background-color: transparent;
    border: none;
    font-size: 23px;
    color: rgb(121, 121, 121);
}
